node_modules
@types
src/server/types.*
reports/
scripts/
coverage/
test/
dist/
e2e/
lib/*
locales/
src/@types/.*
src/assets/.*
src/docs/.*
src/theme/.*
src/introduction/.*
babel.config.js
__tests__/
__snapshots__
lib/
